@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?qkjody');
    src:    url('../fonts/icomoon.eot?qkjody#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?qkjody') format('truetype'),
        url('../fonts/icomoon.woff?qkjody') format('woff'),
        url('../fonts/icomoon.svg?qkjody#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-traffic-cone:before {
    content: "\e910";
}
.icon-cartoon:before {
    content: "\e901";
}
.icon-productista:before {
    content: "\e902";
}
.icon-butt:before {
    content: "\e903";
}
.icon-adoptado:before {
    content: "\e904";
}
.icon-chancero:before {
    content: "\e905";
}
.icon-bully:before {
    content: "\e906";
}
.icon-cuaima:before {
    content: "\e907";
}
.icon-cuchi:before {
    content: "\e908";
}
.icon-fitness:before {
    content: "\e909";
}
.icon-gordito:before {
    content: "\e90a";
}
.icon-lolas:before {
    content: "\e90b";
}
.icon-master:before {
    content: "\e90c";
}
.icon-mami:before {
    content: "\e90d";
}
.icon-papi:before {
    content: "\e90e";
}
.icon-pro:before {
    content: "\e90f";
}
.icon-motorcycle:before {
    content: "\e900";
}
.icon-users:before {
    content: "\e972";
}
.icon-heart:before {
    content: "\e9da";
}
.icon-man:before {
    content: "\e9dc";
}
.icon-woman:before {
    content: "\e9dd";
}
.icon-cross:before {
    content: "\ea0f";
}
