        <div class="page" id="p{{pageid}}" style="overflow-y: auto;">
          <div class="row">
            <div class="col-md-12">
              <center>
              <img src="/static/img/cat/{{pageid}}.png" alt="GORDITO" width="20%"/>
                      <p>
                      {{desc}}
                    </p>
              </center>
            </div>
          </div>
          <div class="container-fluid sContainer">
                      <h2>
              <!--Nominats2-->
            </h2> 
            <div class="row">
              <div class="col-md-8 col-sm-push-4">
                <!-- Full Page Image Background Carousel Header -->
                <div id="myCarousel" class="carousel slide" style="transform: translateX(700%);">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for Slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <!-- Set the first background image using inline CSS below. -->
                      <center><img src="http://placehold.it/350x150&text=Slide One"> </center>

                    </div>
                    <div class="item">
                      <!-- Set the second background image using inline CSS below. -->
                      <center><img src="http://placehold.it/350x150&text=Slide Two"> </center>

                    </div>
                    <div class="item">
                      <!-- Set the third background image using inline CSS below. -->
                      <center><img src="http://placehold.it/350x150&text=POTATO"> </center>
               <!-- <div class="carousel-caption">
                    <h2>Caption 3</h2>
                  </div> -->
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
              </a>

            </div>
          </div>

          <div class="col-md-4 col-sm-pull-8">
            <h2>
              <!--Nominats2-->
            </h2>
            <ion-content >

            <div class="list" style="margin-bottom: 5%">

             <!--href="#/{{item.id}}"-->
             <a ng-repeat="item in items"  onclick="hideGallery(1)"
             class="item item-thumbnail-left">

             <img src="http://www.jqueryscript.net/images/jQueryPhotoAlbum.jpg">
             <h2>Juan Lopez</h2>
             <h4>Por que lo merece...</h4>
           </a>
           <a ng-repeat="item in items" onclick="hideGallery(2)"
           class="item item-thumbnail-left">

           <img src="http://www.jqueryscript.net/images/jQueryPhotoAlbum.jpg">
           <h2>Pedro Perez</h2>
           <h4>Por que lo merece...</h4>
         </a>
         <a ng-repeat="item in items"  onclick="hideGallery(1)"
         class="item item-thumbnail-left">

         <img src="http://www.jqueryscript.net/images/jQueryPhotoAlbum.jpg">
         <h2>Juan Lopez</h2>
         <h4>Por que lo merece...</h4>
       </a>
       <a ng-repeat="item in items" onclick="hideGallery(2)"
       class="item item-thumbnail-left">

       <img src="http://www.jqueryscript.net/images/jQueryPhotoAlbum.jpg">
       <h2>Pedro Perez</h2>
       <h4>Por que lo merece...</h4>
     </a>
     <a ng-repeat="item in items"  onclick="hideGallery(1)"
     class="item item-thumbnail-left">

     <img src="http://www.jqueryscript.net/images/jQueryPhotoAlbum.jpg">
     <h2>Juan Lopez</h2>
     <h4>Por que lo merece...</h4>
   </a>
   <a ng-repeat="item in items" onclick="hideGallery(2)"
   class="item item-thumbnail-left">

   <img src="http://www.jqueryscript.net/images/jQueryPhotoAlbum.jpg">
   <h2>Pedro Perez</h2>
   <h4>Por que lo merece...</h4>
 </a>
</div>
</ion-content>
</div>



</div>
</div>
</div>