          <div class="row" >
            <div class="col-md-12">
              <center>
              <img src="/static/img/cat/{{catName}}.png" alt="{{catName}}" width="20%"/>
                      <br>
                      <p style="font-style: italic;">
                      {{catDesc}}
                    </p>
              </center>
            </div>
          </div>
          <div class="container-fluid sContainer" style="margin-top: 2%">
                      <h2>
              <!--Nominats2-->
            </h2> 
            <div class="row">
              <div class="col-md-8 col-sm-push-4">
                <!-- Full Page Image Background Carousel Header -->
                <div id="carousel-div" style="transform: translateX(700%);">
                  <!-- AJAX update myCarousel -->
                </div>
          </div>

          <div class="col-md-4 col-sm-pull-8">
              <center>
              <div class="main-nav">
                <ul style="margin: 0">
                  <li style="margin: 0" id="NomButton"><a class="cd-signin votarbut">¡Nomina!</a></li>
                </ul>
              </div>
              </center> 
            <div class="list" style="margin-bottom: 5%">
            {% for nom in listaNom %}




             <!--href="#/{{item.id}}"-->
             <a onclick="hideGallery({{ nom.nId }},{{ nom.nImaList }},{{ nom.nRName }},{{ nom.nHas }},{{pageid}},{{nom.nUid}})"
             class="item item-thumbnail-left">

             <img src="/static/{{nom.nFront}}">
             <h2>{{nom.nName}}</h2>
             <h4>{{nom.nDesc}}</h4>
             {%empty%}
             <h2>No hay nominados todavía.</h2>
             <h4>¿Por qué no nominas a alguien?</h4>
             {%endfor%}
           </a>
          </div>
          </div>



</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
  $("#NomButton").click(function(){
  var formModal = $('.cd-user-modal'),
    formLogin = formModal.find('#cd-login'),
    formSignup = formModal.find('#cd-signup'),
    formForgotPassword = formModal.find('#cd-reset-password'),
    formModalTab = $('.cd-switcher'),
    tabLogin = formModalTab.children('li').eq(0).children('a'),
    tabSignup = formModalTab.children('li').eq(1).children('a'),
    forgotPasswordLink = formLogin.find('.cd-form-bottom-message a'),
    backToLoginLink = formForgotPassword.find('.cd-form-bottom-message a'),
    mainNav = $('.main-nav');

    mainNav.children('ul').removeClass('is-visible');
    formModal.addClass('is-visible');
    formLogin.addClass('is-selected');
    formSignup.removeClass('is-selected');
    formForgotPassword.removeClass('is-selected');
    tabLogin.addClass('selected');
    tabSignup.removeClass('selected');
  });
        });
</script>

