          <div class="row" >
            <div class="col-md-12">
              <center>
              <img src="/static/img/cat/{{catName}}.png" alt="{{catName}}" width="20%"/>
                      <br>
                      <p style="font-style: italic;">
                      {{catDesc}}
                    </p>
              </center>
            </div>
          </div>
          <div class="container-fluid sContainer" style="margin-top: 2%">
                      <h2>
              <!--Nominats2-->
            </h2> 
            <style type="text/css">
            .woo {
              display: none;
            }
            </style>
            <div class="row">
              <div class="col-md-8 col-sm-push-4">
                <!-- Full Page Image Background Carousel Header -->
                <div id="carousel-div" class="woo">
                hola
                  <!-- AJAX update myCarousel -->
                </div>
          </div>

          <div class="col-md-4 col-sm-pull-8">
              <center>
              <div class="main-nav">
                <ul style="margin: 0">
                  <li style="margin: 0" class="NomButton" ><a id="NomButton" class="cd-signin votarbut">¡Nomina!</a></li>
                </ul>
                {%if hasVoted %}
                  <p style="color: red"> Ya realizo esa nominacion. </p>
                  <br>
                {%endif%}
              </div>
              </center> 
            <div class="list" style="margin-bottom: 5%">
            <!--{% for nom in listaNom %}




             <!--href="#/{{item.id}}"-->
             <!--<a onclick="hideGallery({{ nom.nId }},{{ nom.nImaList }},{{ nom.nRName }},{{ nom.nHas }},{{pageid}},{{nom.nUid}})"
             class="item item-thumbnail-left">

             <img src="/static/{{nom.nFront}}">
             <h2>{{nom.nName}}</h2>
             <h4>{{nom.nDesc}}</h4>
             {%empty%}
             <h2>No hay nominados todavía.</h2>
             <h4>¿Por qué no nominas a alguien?</h4>
              </a>
             {%endfor%}-->
             <center>
              <h2>Para esta categoría hay</h2> <h2 style="color: #FFF172;">{{nomsCount}}</h2> <h2>

              {%if isSingular %} 
                Nominación. 
              {%else%} 
                Nominaciones. 
              {%endif%}

              </h2>
             </center>
          </div>
          </div>



</div>
</div>


<script src="/static/js/start.js" type="text/javascript"></script>
